.cart-dropdown-container {
  position         : fixed;
  width            : min(90vw, 25rem);
  z-index          : 99;
  border           : 1px solid black;
  padding          : 1em 0 1em 1em;
  background-color : white;
  display          : flex;
  flex-direction   : column;
  top              : 80px;
  right            : 20px;

  .cart-items {
    padding-inline-end : .5em;
    height             : 30rem;
    overflow           : scroll;
    display            : flex;
    flex-direction     : column;
    gap                : .5em
    }

  button {
    margin-top        : 1em;
    margin-inline-end : 1.8em;
    width             : 100%;
    align-self        : center;
    height            : 5em;
    }

  }